#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .left {
    margin-left: 40px;
    width: 40%;

    .desc {
      color: var(--font-color);
      font-size: 1vw;
    }
  }

  .global {
    margin: 0 auto;
    font-weight: 600;
    color: var(--font-color);
    user-select: none;
  }
}

@media only screen and (max-width: 900px) {
  #about {
    display: block;
    margin-top: 6em;
    padding-bottom: 730px !important;

    .left {
      width: 90%;
      margin-left: 0 !important;

      .desc {
        font-size: 1.2rem !important;
      }
    }

    .global {
      display: block;
    }
  }
}

@media only screen and (max-width: 600px) {
  #about {
    .left {
      width: 98%;

      .desc {
        font-size: 0.9rem !important;
      }
    }

    .global {
      position: relative;
      font-weight: 500;
      font-size: 0.8rem !important;
    }
  }
}
