@import "./partials/fonts.scss";
@import "./partials/animation.scss";
@import "./partials/browser.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #fafafa;
  --nav-color: #272727;
  --bfont-color: #272727;
  --wfont-color: #fafafa;
  --nav-lg: 4vw;
  --nav-md: 13vh;
}

#app {
  background-color: var(--main-color);
}

.content {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: var(--main-color);
  padding: 0 0 0 calc(var(--nav-lg) + 4rem);

  .content-body {
    padding: 5rem 0;
    height: 100%;
  }
}

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  /* transition: transform 500ms; */
  /* animation: slide-in 500ms linear;
  animation-delay: 500ms; */
  opacity: 0.3;
}

.fade-leave-active {
  opacity: 0;
  transition: all 600ms;
  /* transform: scale(1); */
  /* animation: slide 500ms linear; */
  /* animation-delay: 200ms; */
}

.trans-back {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  z-index: 99;
  color: var(--bfont-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  transform: translateX(100%);
  transition: transform 800ms ease;

  p {
    margin: 0.5rem 0;
  }

  .loadbar {
    width: 250px;

    .progress {
      width: 0;
      height: 4px;
      background-color: var(--second-color);
      border-radius: 10px;
    }
  }
}
.trans-back.show {
  transform: translateX(0);

  .loadbar {
    .progress {
      width: 100%;
      transition: width 700ms ease;
      transition-delay: 800ms;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 4rem !important;
    height: calc(100vh - var(--nav-md));
  }

  .symbols {
    left: 1.5rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0 2rem !important;

    .content-body {
      padding: 0.5rem 0;
    }
  }

  .code {
    font-size: 0.7rem !important;
  }

  .symbols {
    left: 1rem !important;
  }
}
