#home {
  display: flex;
  align-items: center;
  height: 100%;

  .desc {
    font-size: 1.1vw;
    font-family: "Poppins", sans-serif;
  }

  .btn {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 0.5rem 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.8s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: var(--secondary-color);
      transition: all 0.8s;
      z-index: -2;
    }

    &:hover {
      color: var(--main-color);

      &::before {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #home {
    .desc {
      font-size: 2.4vw;
    }
  }
}
@media only screen and (max-width: 600px) {
  #home {
    .btn {
      border: 1px solid var(--secondary-color);
      padding: 0.5rem 1.5rem;
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
}
