#work-page {
  margin-top: 5rem;

  .title {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .work-list {
    margin: 1rem auto 5rem auto;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  #work-page {
    margin-top: 6em;

    .title {
      margin-bottom: 0 !important;
    }
    .work-list {
      margin-top: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  #work-page {
    .work-list {
      margin-top: 0 !important;
    }
  }
}
