// =============================================================
// Header Test Animation
// =============================================================

@keyframes rubberband {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes line-dash {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #fafafa;
  }
}

@keyframes slide {
  to {
    transform: translateX(-100%) scale(0.7);
  }
}

@keyframes slide-in {
  to {
    transform: scale(1);
  }
}

@keyframes expand {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }

  50% {
    transform: scale(2) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
